h1{
    text-align: center;
    color: green;
    background-color: yellow;
    display: inline-block;
}
h2{
    text-align: center;
    color: darkgreen;
    display: inline-block;
}
h3{
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}
button{
    background-color: #dc3545;
    color: white;
}